## Importing the required libraries

In [1]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

## Loading the data from the CSV

In [2]:
df = pd.read_excel("C:\\Users\\91832\\Downloads\\DataSetforPythonLibraries (1).xlsx")

## Displaying the first 5 rows of the DataFrame

In [3]:
df.head()

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
0,2c06175e,0001328c3c220830,2020-12-24 00:00:00,2020-12-13,Nintendo Switch,e682,168.00,website,affiliate,unknown,US
1,ee8e5bc2,0002af7a5c6100772,2020-10-01 00:00:00,2020-09-21,Nintendo Switch,e682,160.61,website,direct,desktop,DE
2,9eb4efe0,0002b8350e167074,2020-04-21 00:00:00,2020-02-16,Nintendo Switch,8d0d,151.20,website,direct,desktop,US
3,cac7cbaf,0006d06b98385729,2020-04-07 00:00:00,2020-04-04,Sony PlayStation 5 Bundle,54ed,1132.82,website,direct,desktop,AU
4,6b0230bc,00097279a2f46150,2020-11-24 00:00:00,2020-08-02,Nintendo Switch,8d0d,33.89,website,direct,desktop,TR

## to find the bottom 5 element

In [4]:
df.tail()

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
21859,e432cf6f,fff0b6a1e9996384,2019-11-27 00:00:00,2019-11-29,Sony PlayStation 5 Bundle,54ed,1527.06,website,direct,desktop,US
21860,f4f11c04,fff4592dc6d103535,2019-12-23 00:00:00,2019-12-26,27in 4K gaming monitor,891b,467.88,website,direct,desktop,US
21861,f4f11c04,fff4592dc6d103537,2019-12-23 00:00:00,2019-12-26,27in 4K gaming monitor,891b,467.88,website,direct,desktop,US
21862,203ce4dd,fff829b061e16171,2021-01-31 00:00:00,2021-02-02,Dell Gaming Mouse,8d4f,67.07,mobile app,direct,desktop,GB
21863,203ce4dd,fff829b061e16172,2021-01-31 00:00:00,2021-02-02,Dell Gaming Mouse,8d4f,67.07,mobile app,direct,desktop,GB

## to see the column list

In [5]:
#print(df.columns.tolist())
df.columns

Index(['USER_ID', 'ORDER_ID', 'PURCHASE_TS', 'SHIP_TS', 'PRODUCT_NAME',
       'PRODUCT_ID', 'USD_PRICE', 'PURCHASE_PLATFORM', 'MARKETING_CHANNEL',
       'ACCOUNT_CREATION_METHOD', 'COUNTRY_CODE'],
      dtype='object')

## to see the no of row and column

In [6]:
df.shape

(21864, 11)

## to check the datatypes

In [7]:
df.dtypes

USER_ID                            object
ORDER_ID                           object
PURCHASE_TS                        object
SHIP_TS                    datetime64[ns]
PRODUCT_NAME                       object
PRODUCT_ID                         object
USD_PRICE                         float64
PURCHASE_PLATFORM                  object
MARKETING_CHANNEL                  object
ACCOUNT_CREATION_METHOD            object
COUNTRY_CODE                       object
dtype: object

## non-null columns,

In [8]:
df.isna().any ()

USER_ID                    False
ORDER_ID                   False
PURCHASE_TS                False
SHIP_TS                    False
PRODUCT_NAME               False
PRODUCT_ID                 False
USD_PRICE                   True
PURCHASE_PLATFORM          False
MARKETING_CHANNEL           True
ACCOUNT_CREATION_METHOD     True
COUNTRY_CODE                True
dtype: bool

## to see all the stastical information also called as 5 number summery(Minimum, Q1, Median, Q3, Maximum)

In [25]:
df.describe()

                           SHIP time     USD_PRICE
count                          21829  21829.000000
mean   2020-04-15 19:07:06.313619712    281.192692
min              2018-10-18 00:00:00      0.000000
25%              2019-11-12 00:00:00    126.000000
50%              2020-05-23 00:00:00    168.000000
75%              2020-10-06 00:00:00    355.110000
max              2021-11-16 00:00:00   3146.880000
std                              NaN    366.498031

## summery for all column

In [10]:
df.describe(include='all')

,USER_ID,ORDER_ID,PURCHASE_TS,SHIP_TS,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
count,21864,21864,21864,21864,21864,21864,21859.000000,21864,21781,21781,21826
unique,19851,21719,783,NaN,9,46,NaN,2,5,5,150
top,c14ee1a5,fecc9d6766231653,2020-12-19 00:00:00,NaN,Nintendo Switch,8d0d,NaN,website,direct,desktop,US
freq,4,2,95,NaN,10386,6024,NaN,19783,17434,16458,10294
mean,NaN,NaN,NaN,2020-04-15 16:04:48.474204160,NaN,NaN,281.406583,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2018-10-18 00:00:00,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2019-11-12 00:00:00,NaN,NaN,126.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2020-05-23 00:00:00,NaN,NaN,168.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2020-10-06 00:00:00,NaN,NaN,357.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2021-11-16 00:00:00,NaN,NaN,3146.880000,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,366.296410,NaN,NaN,NaN,NaN

## to find no of null vanlue

In [11]:
df.isnull().sum()

USER_ID                     0
ORDER_ID                    0
PURCHASE_TS                 0
SHIP_TS                     0
PRODUCT_NAME                0
PRODUCT_ID                  0
USD_PRICE                   5
PURCHASE_PLATFORM           0
MARKETING_CHANNEL          83
ACCOUNT_CREATION_METHOD    83
COUNTRY_CODE               38
dtype: int64

## replace null with mean

In [12]:
df = df.fillna(df.mean(numeric_only=True))
df.isnull().sum()

USER_ID                     0
ORDER_ID                    0
PURCHASE_TS                 0
SHIP_TS                     0
PRODUCT_NAME                0
PRODUCT_ID                  0
USD_PRICE                   0
PURCHASE_PLATFORM           0
MARKETING_CHANNEL          83
ACCOUNT_CREATION_METHOD    83
COUNTRY_CODE               38
dtype: int64

In [13]:
df = df.fillna(df.mean)

## to find unique

In [14]:
df.nunique()

USER_ID                    19851
ORDER_ID                   21719
PURCHASE_TS                  783
SHIP_TS                      826
PRODUCT_NAME                   9
PRODUCT_ID                    46
USD_PRICE                   3634
PURCHASE_PLATFORM              2
MARKETING_CHANNEL              6
ACCOUNT_CREATION_METHOD        6
COUNTRY_CODE                 151
dtype: int64

## To see memeory used and other info

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21864 entries, 0 to 21863
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   USER_ID                  21864 non-null  object
 1   ORDER_ID                 21864 non-null  object
 2   PURCHASE_TS              21864 non-null  object
 3   SHIP_TS                  21864 non-null  datetime64[ns]
 4   PRODUCT_NAME             21864 non-null  object
 5   PRODUCT_ID               21864 non-null  object
 6   USD_PRICE                21864 non-null  float64
 7   PURCHASE_PLATFORM        21864 non-null  object
 8   MARKETING_CHANNEL        21864 non-null  object
 9   ACCOUNT_CREATION_METHOD  21864 non-null  object
 10  COUNTRY_CODE             21864 non-null  object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 1.8+ MB

## Check or duplicates in the DataFrames if any then remove

In [16]:
print (df.duplicated().sum()) # to count

35

In [17]:
df.duplicated() # to just check

0        False
1        False
2        False
3        False
4        False
         ...
21859    False
21860    False
21861    False
21862    False
21863    False
Length: 21864, dtype: bool

In [18]:
df.drop_duplicates(inplace=True) ## to remove

In [19]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21859    False
21860    False
21861    False
21862    False
21863    False
Length: 21829, dtype: bool

In [20]:
df.dtypes

USER_ID                            object
ORDER_ID                           object
PURCHASE_TS                        object
SHIP_TS                    datetime64[ns]
PRODUCT_NAME                       object
PRODUCT_ID                         object
USD_PRICE                         float64
PURCHASE_PLATFORM                  object
MARKETING_CHANNEL                  object
ACCOUNT_CREATION_METHOD            object
COUNTRY_CODE                       object
dtype: object

## to change the column name

In [21]:
df=df.rename(columns={'PURCHASE_TS':'PURCHASE time','SHIP_TS':'SHIP time'})#Rename columns
df.head()

,USER_ID,ORDER_ID,PURCHASE time,SHIP time,PRODUCT_NAME,PRODUCT_ID,USD_PRICE,PURCHASE_PLATFORM,MARKETING_CHANNEL,ACCOUNT_CREATION_METHOD,COUNTRY_CODE
0,2c06175e,0001328c3c220830,2020-12-24 00:00:00,2020-12-13,Nintendo Switch,e682,168.00,website,affiliate,unknown,US
1,ee8e5bc2,0002af7a5c6100772,2020-10-01 00:00:00,2020-09-21,Nintendo Switch,e682,160.61,website,direct,desktop,DE
2,9eb4efe0,0002b8350e167074,2020-04-21 00:00:00,2020-02-16,Nintendo Switch,8d0d,151.20,website,direct,desktop,US
3,cac7cbaf,0006d06b98385729,2020-04-07 00:00:00,2020-04-04,Sony PlayStation 5 Bundle,54ed,1132.82,website,direct,desktop,AU
4,6b0230bc,00097279a2f46150,2020-11-24 00:00:00,2020-08-02,Nintendo Switch,8d0d,33.89,website,direct,desktop,TR

In [22]:
df.dtypes

USER_ID                            object
ORDER_ID                           object
PURCHASE time                      object
SHIP time                  datetime64[ns]
PRODUCT_NAME                       object
PRODUCT_ID                         object
USD_PRICE                         float64
PURCHASE_PLATFORM                  object
MARKETING_CHANNEL                  object
ACCOUNT_CREATION_METHOD            object
COUNTRY_CODE                       object
dtype: object

In [23]:
print(df.columns.tolist())

['USER_ID', 'ORDER_ID', 'PURCHASE time', 'SHIP time', 'PRODUCT_NAME', 'PRODUCT_ID', 'USD_PRICE', 'PURCHASE_PLATFORM', 'MARKETING_CHANNEL', 'ACCOUNT_CREATION_METHOD', 'COUNTRY_CODE']

In [24]:
# # Assuming df has columns: 'PRODUCT_NAME' and 'USD_PRICE'
# plt.figure(figsize=(15, 15))
# plt.bar(df['PRODUCT_NAME'], df['USD_PRICE'], color='orange')
# plt.xlabel("Product Name")
# plt.ylabel("Revenue in USD")
# plt.title("Product-wise Revenue from Orders")
# #plt.xticks(rotation=45)  # Rotate labels if they overlap
# #plt.tight_layout()
# plt.show()